.graph{
  margin: 60px 20px;
  padding: 10px;
}
.controlls {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 0px;
}
.selfie-controlls {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px 0px;
}
.paper{
  margin: 80px 20px;
  padding: 10px;
  text-align: center;
}

.crop-container {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 80px;
}

.controls {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50%;
  transform: translateX(-50%);
  height: 80px;
  display: flex;
  align-items: center;
}

.slider {
  padding: 22px 0px;
}

.footer{
  padding: 0px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #3F51B5;
  color: white;
}

@media only screen and (max-width: 600px) {
  .graph{
    margin: 60px 0px;
    padding: 5px;
  }
}